<main class="main">
  <h2 class="main__title">Lista de Vacantes</h2>

  {{#if vacancysData.length}}

    {{#each vacancysData}}

      <div class="main__job">
        <div>
          <h3 class="main__job-title">{{company}}</h3>
          <p class="main__job-description">{{title}}</p>
        </div>
        <div>
          <p class="main__job-info">Ubicacion</p>
          <p class="main__job-info-2">{{company}}</p>
        </div>
        <div>
          <p class="main__job-info">Contrato</p>
          <p class="main__job-info-2">{{contract}}</p>
        </div>
        <div>
          <a href="/vacancies/{{url}}" class="main__job-button">Mas Info</a>
        </div>
      </div>
    {{/each}}

  {{else}}
    <p>No hay Vacantes</p>
  {{/if}}

</main>